@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p class="mt-2" style="font-size: 1.15rem; font-weight:400;">Authors: Piotr Kaczorowski, Paweł Dyśko, Maksymilian Kołodyński.</p>
