@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>Used images:</p>
<a href="https://www.flaticon.com/free-icons/warehouse" title="warehouse icons">Warehouse icons created by Freepik - Flaticon</a>
