@{
    ViewData["Title"] = "Home Page";
}

<div class="h-75 d-flex align-items-center justify-content-center flex-column mb-5">
    <img src="~/images/warehouse.png" class="img-fluid landing-page-image" alt="Warehouse">
    <h1 class="display-4 text-xxl-center fw-bold text-">Hutagazyn</h1>
    <p style="font-size: 1.2rem;">Application that allows user to manage the warehouse.</p>
    <a class="nav-link text-white register-button text-center" asp-area="" asp-controller="Products" asp-action="Index" style="padding: 0.55rem 1.25rem; background-color: #6610f2; border-radius: 2rem; font-size: 1.1rem; font-weight: 600;">
        Go to products page
    </a>
</div>
